body {
    min-height: 3000px;
}
.navbar-brand {
    font-size: 2rem; 
}
.jumbotron {
    padding-top: 6rem;
    background-color: #dee6ed;
}
#project {
    background-color: #dee6ed;
}
#footer{
   background-color: #659fc8; 
}
section{
    padding-top: 5rem;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  height: 350px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}